@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #ededed;
  }
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "JetBrains Mono", monospace;
}

.marquee {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(24, 24, 27, 1) 20%,
    rgba(24, 24, 27, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}
